*.pyc
*.[oa]
*.so
*.os
*.dylib
*.dll
*.swp
*.detectorbank
*.scons

*.obj
*.exe
*.lib
*.exp
*.pdb

.sconsign.dblite

data
proc

contour_lib.c
draw_lib.c
image_filters.c
image_lib.c
level_set.c
utilities.c
water_shed.c

whisk
whisker_convert
measurements_convert
seedtest
stripetest
test_bar_io_1
test_bar_io_2
test_classify_1
test_classify_2
test_classify_3
test_deque_1
test_eval2
test_eval3
test_eval4
test_eval5
test_hmm_reclassify_1
test_hmm_reclassify_2
test_hmm_reclassify_3
test_hmm_reclassify_4
test_hmm_reclassify_5
test_max_filt_1
test_max_filt_2
test_max_filt_3
test_measure_1
test_measure_2
test_merge_collisiontable_1
test_merge_collisiontable_2
test_merge_collisiontable_3
test_report_1
test_report_compare_trajectories
test_svd_1
test_svd_2
test_svd_3
test_polyfit_1
test_polyfit_2
test_traj_build_distributions
test_traj_measurement_table_io_1
test_traj_solve_gray_areas
test_viterbi
test_whisker_io

ui/trace.py
ui/whiskerdata/trace.py
ui/whiskerdata/traj.py
